@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Raleway';
}

body, h1, h2 {
    margin:0px;
    padding:0px;
}

h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

section {
    padding: 18px;
}

.about-me-text {
    font-size: 11px;
    line-height: 17.6px;
}

.title-text {
    font-size: 12px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 12px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.dsc-text {
    font-size: 11px;
    font-weight: light;
    color: #282818;
    font-style: italic;
}

.dsc-subtext {
    font-size: 11px;
    color: #282828;
    margin-left: 16px;
}

.name-text {
    font-size : 15px;
    color: blueviolet;
    font-weight: light;
    margin: 10px;    
}

.float-wrap {
    overflow: hidden;
}

.sns-img {
    width: 20px;
    height: 20px;
}

.sns-wrap {
    text-align: center;
}

.skill-img {
    width: 17px;
    height: 17px;
}

.title-box {
    text-align: right;
    padding: 20px;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1) ;
}

footer {
    font-size: 10px;
    text-align: center;
    background-color: black;
    color: #e1e1e1;
    padding: 40px;
}